Module-Origin contains Git repository user and password

When using GitLab Continuous Integration system I saw that the resulting WAR/JAR files contains user name and password that are used to retrieve project source code by GitLab build agents.

```
Module-Origin: https://gitlab-ci-token:2b58abb5a0c6kg9453p44bf1fd140@gitlab.company.com/main/project.git
```

The reason for this is that the repository URL using HTTP format (`https://`) is not cleaned up of sensitive informations. Please see RFC 3986 section 3.2.1 and 7.5 for more information.

Repository URL in SSH format does not have this issue as those can not store password in clear text.
